@import "tailwindcss";

html,body{
 margin: 0;
 padding: 0;  
 overflow-x: hidden;
 font-family: "Space Grotesk", sans-serif;  /*This font family doesn't work fix it later */
 background: #0a0a0a;
 color: #f3f4f6;
}

.light {
  background: #f3f4f6;
  color: #0a0a0a;
}

.light a {
  color: #a855f7
; /* dark gray for headings in light mode */
}
.light p {
  color: #1a232f
; /* dark gray for headings in light mode */
}

.light input{
  background-color: rgba(0, 0, 0, 0.05);   /* bg-black/5 */
  border: 1px solid rgba(0, 0, 0, 0.10);   /* border-black/10 */
  color: #000000;   
}
.light input:focus {
  border: 1px solid #3b82f6; /* Tailwind's blue-500 */
  background-color: rgba(59, 130, 246, 0.05); /* blue-500 with 5% opacity */
}
.light textarea{
  background-color: rgba(0, 0, 0, 0.05);   /* bg-black/5 */
  border: 1px solid rgba(0, 0, 0, 0.10);   /* border-black/10 */
  color: #000000;   
}
.light textarea:focus {
  border: 1px solid #3b82f6; /* Tailwind's blue-500 */
  background-color: rgba(59, 130, 246, 0.05); /* blue-500 with 5% opacity */
}


.dark {
  background: #0a0a0a;
  color: #f3f4f6;
}

.dark a {
  color: #e5e7eb; /* light gray for headings in dark mode */
}
.dark p {
  color: #e5e7eb; /* light gray for headings in dark mode */
}

@layer utilities{
    @keyframes loading{
        0%{
            transform: translateX(-100);
        }
        100%{
            transform:translateX(250%)
        }
    }
    @keyframes blink{
        0%, 100%{
            opacity: 1;
        }
       50%{
            opacity: 0;
        }
    }
    .animate-loading-bar{
        animation: loading 0.8s ease infinite;
    }
    .animate-blink{
        animation: blink 0.8s step-end infinite;
    }
}

.reveal{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease ,transform 0.7s ease;
}

.reveal.visible{
    opacity: 1;
    transform: translateY(0px);
}